/*태그 디자인*/
html
{
    /*스크롤을 부드럽게*/
    scroll-behavior: smooth;
}
h1
{
    font-size:3rem;
    margin:20px 0;
    font-weight:bold;
}
a{
    color:black;
    text-decoration: none;
}
/*header와 nav*/
.header
{
    position:fixed;
    width:100vw;
    z-index:100;
}
.nav
{
    display:flex;
    justify-content:space-between;
    padding:0 20px;
    align-items:center;
    border-bottom:1px black solid;
    transition:all 1s;
}
.nav-menu
{
    display:flex;
}
.nav-menu>li
{
    margin:35px 20px;
    /*li 태그 안에 있는 모든 텍스트가 영향*/
    font-size:1.2rem;
}
.logo
{
    font-size:1.5rem;
    font-weight:bold;
}
/*스크롤 이벤트가 발생했을 때 바뀌는 네이게이션 디자인*/
.nav.scrollon
{
    color:white;
    background-color: black;
    transition:all 1s;
}
.nav.scrollon li>a
{
    color:white;
    background-color: black;
}
/*main-section*/
section
{
    height:400px;
    /*
    border:1px solid black;
    border 부분을 확인했기 때문에 마지막에 제거*/
}
.banner{
    height:100vh;
}
.banner>.scroll-icon
{
position:absolute;
left:50%;
bottom:50px;
font-size:3rem;
animation-name:moving-icon;/*설정할 애니메이션 이름*/
animation-duration: 1s;/*애니메이션 동작 완료 시간*/
animation-iteration-count: infinite;/*반복횟수*/
}
/*아이콘이 위아래로 움직이는 애니메이션 작성*/
@keyframes moving-icon
{
    0%
    {
        transform:translate(0,0);
    }
    50%
    {
        transform:translate(0,50px);
    }
    100%
    {
        transform:translate(0,0);
    }
}
/*섹션2-소개*/
.introscroll{
    display:flex;
    justify-content: center;
    background-image: linear-gradient(green,yellow), url(../image/hd.jpg);
    padding:0 20px;
    opacity:0;
}
/*이벤트로 클래스가 붙었을 때 디자인*/
.introscroll.scrollon{
    opacity:1;
    transition:all 1s;
}
.introscroll>.information
{
    width:300px;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    box-shadow:1px 1px 10px rgba(0,0,0,0.6);
    transform:translateX(-600px);
}
/*이벤트 발생 시 추가되는 클래스*/
.introscroll.scrollon>.information
{
    transform:translateX(0);
    transition:all 2s;
}
.introscroll>.infor-image
{
    width:100vw;
    /*inherit : 부모의 높이를 가져옴*/
    height:inherit;
}
/*섹션3 슬라이더 버튼*/
.pictures
{
    display:grid;
    grid-template-columns: 2fr 3fr;
}
.pictures>.pictures-wrap
{
    padding:20px 30px;
}
/*버튼 디자인*/
.pictures>.pictures-wrap .pictures-buttons a
{

    padding:10px 20px;
    border-radius:5px;
    font-size:1.2rem;
    font-weight:bold;
}
.pictures>.pictures-wrap .pictures-buttons a.on
{
    background-color: black;
    color:white;
    transition: all 0.5s
}

/* */
.pictures>.pictures-wrap>.pictures-explain>p
{
    margin-bottom:25px;
}

/*섹션4 뉴스*/
.news-scroll>h1
{
    text-align:center;
    margin-top:100px;
}
/*뉴스 카드*/
.news-cards
{
    display:flex;
    justify-content: space-between;
    /*
    display:grid로 넣는다면 아래처럼 넣어주면 된다.
    display:grid;
    grid-template-columns:repeat(1fr,4);
    gap: 10px;
    */
    margin:0 20px;

}
.card
{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
    overflow:hidden; /* 밑의 이미지 감싸는 부분이 튀어 나온 것을 방지해줌*/
    
}
.card>.card-image-wrap
{
    height:150px;
    background-color: gray;
    overflow:hidden; /*이미지에 마우스를 가져다 댔을 때 1.2배 확대되게 했는데 이 과정에서 이미지 크기가 커져서 넘쳐나오는 것을 방지*/
}
/*카드 글자*/
.card>.card-text
{
    padding:20px;
}
.card>.card-text>h3{
    font-size:1.3rem;
    font-weight: bold;
    margin:20px 0;
}
.card>.card-text>p
{
    font-weight: bold;
    color:blue;
}
.card>.card-text>span
{
    float:right;
    color:gray;
}
.card>.card-image-wrap>.card-image
{
    height:inherit;
    background-size:cover;

}
/*카드에 마우스를 올렸을 때 전환 효과*/
.card:hover>.card-image-wrap>.card-image
{
    transform:scale(1.2);
    filter:brightness(0.7);
    transition:all 0.5s;
}
/* scroll이 추가되었을 때 보이는 전환효과*/
.news-scroll{
    opacity:0;
    transform:translateY(40px);
}
.news-scroll.scrollon{
    opacity:1;
    transform:translateY(0);
    transition:all 1s;
}
/*카드 이미지*/



/* card-image-whap 안의 cardi-image가 첫번째인 것 이기 때문에 모두 선택된다.
nth-child 사용할 때는 그 시작점에 넣어주기
.card>.card-image-wrap>.card-image:nth-child(1)
{
    background-image: url(../image/balloons.jpg);
}
*/

.card:nth-child(1)>.card-image-wrap>.card-image
{
    background-image: url(../image/balloons.jpg);
}
.card:nth-child(2)>.card-image-wrap>.card-image
{
    background-image: url(../image/hd.jpg);
}.card:nth-child(3)>.card-image-wrap>.card-image
{
    background-image: url(../image/hot.jpg);
}


/*footer*/
.footer
{
    height:200px;
    background-color: black;
    color:white;
    padding:40px 80px;
    display:flex;
}
