/*slider.css에서 복사해서 slider 앞에 2를 붙여준다. html에서 겹치는 것을 방지하기 위해 slider2로 짰기 때문 */
/*slider2디자인*/
.slider2
{
    position:relative;
    display:flex;
    flex-wrap:nowrap;
    width:70%;
    /*slider의 바깥으로 빠져나가는 silder item을 보이지 않게 함*/
    overflow:hidden;
}
/*slider2 item*/
.slider2-item{
    width:100%;
    /*
    height:100vh;
    높이 지정을 숨겨서 사이즈에 맞게 그림이 들어가도록 만듬*/
    /*flex-shrink:flex의 컨테이너보다 item 크기가 클 때 넓이를 바꾸지 않게 사용*/
    flex-shrink:0;
    /*슬라이더 아이템의 위치를 옮김*/
    position:relative;
    /*left의 위치를 0%,-100%,-200% 이용하여 이동*/
    left:0;
    transition:left 1s;
}

/*slider-button 디자인*/
.slider2-button
{
    position:absolute;
    top: 45%;
    font-size:5rem;
}
.prev
{left:10px;}
.next{
right:10px;
}
/*슬라이더 이미지*/
.slider2>.slider2-item:nth-child(1)
{
    background-image:url(../image/balloons.jpg);
    background-size: cover;
}
.slider2>.slider2-item:nth-child(2)
{
    background-image:url(../image/hd.jpg);
    background-size: cover;
}
.slider2>.slider2-item:nth-child(3)
{
    background-image:url(../image/hot.jpg);
    background-size: cover;
}
/*슬라이더 dot의 모양*/
.slider2>.slider2-dots
{
    position:absolute;
    display:flex;
    left:35%;
    bottom:20px;
}
.slider2>.slider2-dots>.dot{
    cursor:pointer;
    width:20px;
    height:20px;
    background-color: aqua;
    border-radius: 50%;
    margin:0 10px;
}
.slider2>.slider2-dots>.dot:hover,
.slider2>.slider2-dots>.dot.on
{
    background-color: white;
}