.box
{height:200px;
background-color: aqua;
border:2px solid black;}
.smallbox
{
    height:100px;
    background-color: gray;
}
.relative
{
    position:relative;
}
.absolute
{
    position:absolute;
    bottom:0;
}